* {
  margin: 0;
  padding: 0;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.container-plan-1 {
  margin: 60px 0 0 10px;
}
.main {
  display: flex;
  gap: 10px;
}
.first {
  overflow: hidden;
  width: 300px;
  height: 600px;
  border-right: 1px solid rgba(128, 128, 128, 0.7);
  border-bottom: 1px solid rgba(128, 128, 128, 0.7);
  border-left: 1px solid rgba(128, 128, 128, 0.7);

  border-radius: 0px 0px 18px 18px;
}
.pop {
  font-size: 12px;
  background: rgb(229, 9, 20);
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 100%;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.pop span {
  margin: 6px 8px;
  font-weight: 500;
  text-align: center;
}
.pre {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 8px;
  min-height: 83px;
  padding: 10px 16px;
  background: radial-gradient(
      140.76% 131.96% at 100% 100%,
      rgb(229, 9, 20) 0%,
      rgba(74, 42, 150, 0.5) 73.57%,
      rgba(74, 42, 150, 0) 100%
    ),
    rgb(29, 82, 157);
}
.pre h6 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}
.ul-list-rate {
  display: block;
}
.ul-list-rate ul {
  box-sizing: border-box;
  padding: 0px 25px;
  width: 100%;
  list-style: none;
}
.list-1 {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.list-1 div {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.53846;
  color: rgb(118, 118, 118);
}
.sec {
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 18px;
  position: relative;
  margin: 40px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.pre-2 {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 8px;
  min-height: 83px;
  padding: 10px 16px;
  background: radial-gradient(
      140.76% 131.96% at 100% 100%,
      rgb(176, 56, 220) 0%,
      rgba(74, 42, 150, 0.5) 73.57%,
      rgba(74, 42, 150, 0) 100%
    ),
    rgb(29, 82, 157);
}
.small {
  color: #737373;
  display: block;
  font-size: 17px;
  padding: 0 16px;
}
.small small a{
  text-decoration: none;
}
.small a:hover{
  text-decoration: underline;
}
.next  a button {
  margin: 20px 0 20px 400px;
  width: 28rem;
  text-align: center;
  
  height: 3rem;
  font-size: 30px;
  font-weight: 400;
  background-color: red;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.next a button:hover {
  cursor: pointer;
  background-color: rgb(238, 64, 64);
}