:root{
    --color-bg: hsl(244, 88%, 10%);
    --color-text: hsl(0, 0%, 94%);
    --color-accent: hsl(169, 100%, 47%);
    --color-accent2: hsl(246, 41%, 28%);
    --color-accent2-hover: hsl(245, 45%, 40%);
}