# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
media/
# Svelte / Node
node_modules/
.svelte-kit/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database
postgres_data/

# Logs
*.log
