# Ignore node_modules
node_modules
**/node_modules

# Ignore build outputs and artifacts
dist
**/dist
.next
**/.next
.turbo
**/.turbo
coverage
**/.nyc_output

# Ignore environment variables
.env
.env.*

# Ignore VCS and IDE config files
.git
.github
.vscode
.idea
.husky
.DS_Store

# Ignore documentation/misc
README.md
